footer {
  background-image: linear-gradient(to bottom, rgb(151, 149, 151), pink);
  padding: 1rem 0;
  text-align: center;
  margin-top: 100px;
  width: 100vw;
  color: map-get($colors, color-crimson);
}

.contenedor-footer {
  padding: 50px;
}

.content-foo {
  padding: 20px;
}
